<div class="card">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title"> {{ (user.id ?? 0) > 0 ? 'Actualizar' : 'Registrar' }} Usuario</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div>
          <input
            placeholder="Nombre"
            name="name"
            [(ngModel)]="user.name"
            class="form-control my-2"
            #name="ngModel">
          @if (errors?.name) {
            <div class="text-danger">{{ errors.name }}</div>
          }

          <!--@if (name.invalid && (name.touched || name.dirty)) {
            @if (name.errors!['required']) {
              <div class="text-danger">Name is required</div>
            }
          } -->
        </div>
        <div>
          <input
            placeholder="Apellido"
            name="lastname"
            [(ngModel)]="user.lastname"
            class="form-control my-2"
            #lastname="ngModel">
          @if (errors?.lastname) {
            <div class="text-danger">{{ errors.lastname }}</div>
          }
          <!-- @if (lastname.invalid && (lastname.touched || lastname.dirty)) {
            @if (lastname.errors!['required']) {
              <div class="text-danger">Lastname is required</div>
            }
          } -->
        </div>

        <div>
          <input
            placeholder="Email"
            name="email"
            [(ngModel)]="user.email"
            class="form-control my-2"
            type="email"
            #email="ngModel">
          @if (errors?.email) {
            <div class="text-danger">{{ errors.email }}</div>
          }
        <!--  @if (email.invalid && (email.touched || email.dirty)) {
            @if (email.errors!['required']) {
              <div class="text-danger">Email is required</div>
            }
            @if (email.errors!['email']) {
              <div class="text-danger">Please enter a valid email address</div>
            }
        } -->
        </div>
        <div>
          <input
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            class="form-control my-2"
            #username="ngModel">
          @if (errors?.username) {
            <div class="text-danger">{{ errors.username }}</div>
          }
        <!--  @if (username.invalid && (username.touched || username.dirty)) {
            @if (username.errors!['required']) {
              <div class="text-danger">Username is required</div>
            }
            @if (username.errors!['minlength']) {
              <div class="text-danger">Username must be at least 4 characters long</div>
            }
          }-->
        </div>

        <div>
          <input
            placeholder="Password"
            name="password"
            type="password"
            [(ngModel)]="user.password"
            class="form-control my-2"
            #password="ngModel">
          @if (errors?.password) {
            <div class="text-danger">{{ errors.password }}</div>
          }
         <!-- @if (password.invalid && (password.touched || password.dirty)) {
            @if (password.errors!['required']) {
              <div class="text-danger">Password is required</div>
            }
            @if (password.errors!['minlength']) {
              <div class="text-danger">Password must be at least 6 characters long</div>
            }
          }-->
        </div>

        <div>
          <button type="submit" class="btn btn-primary m-2">
            {{ (user.id ?? 0) > 0 ? 'Update' : 'Create' }}
          </button>

          <button type="button" class="btn btn-secondary my-2" (click)="onClear(userForm)">
            Clear
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
