<h2>{{ title }}</h2>
<div class="container contenedor-usuarios">

<button class="btn btn-success my-4 btn-3d" [routerLink]="['/users/create']">Crear Usuario</button>

@if (users.length == 0) {
  <div class="alert alert-warning contenedor-usuarios">No hay usuarios registrados</div>
} @else {
  <table class="table table-hover tabla-usuarios">
    <thead class="mi-header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>User Name</th>
       <th colspan="2" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm btn-3d" (click)="onRemoveUser(user.id!)">Remove</button>
          </td>

          <td class="text-center">
            <button class="btn btn-info btn-sm btn-3d" [routerLink]="['/users/edit', user.id]">Update</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
</div>
